@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@theme {
  --color-white: hsl(0, 100%, 100%);
  --color-purple: hsl(259, 100%, 65%);
  --color-black: hsl(0, 0%, 0%);
  --color-gray-200: hsl(0, 0%, 86%);
  --color-gray-100: hsl(0, 0%, 94%);
  --font-poppins: "Poppins", sans-serif;
  --color-red: hsl(0, 100%, 67%);
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

* {
  transition: all 0.5s ease-in-out;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-gray-100);
}

input {
  border: 1px solid var(--color-gray-300);
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

label {
  font-size: 12px;
  font-weight: 700;
  color: var(--color-gray-700);
  letter-spacing: 4px;
}

span {
  color: var(--color-purple);
}

input:focus {
  border: 1px solid var(--color-purple);
}

.textErr {
  color: var(--color-red);
}

.inputErr {
  border: 1px solid var(--color-red);
}
